@font-face {
    font-family: "Fabrik";
    src: url("../font/Fabrik-Bold.otf");
  }

  @font-face {
    font-family: "LibreBaskerville-Regular";
    src: url("../font/LibreBaskerville-Regular.ttf");
  }

@font-face {
    font-family: "LibreBaskerville";
    src: url("../font/LibreBaskerville-Italic.ttf");
  }

/* html {
    scroll-behavior: smooth;
} */

/** ANIMATION TEXTE **/


.splitting .char {
    animation: slide-in 6s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(60ms * var(--char-index));
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(1em);
      opacity: 0;
    }
  }

/** GENERAL **/

#bruit {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
    top: 0.5px;
    position: fixed;
    background-image: url(../img/Bruit.png);
    background-repeat: repeat;
    animation: bruit 0.6s infinite;
}

@keyframes bruit {
    0% {
        top: 0.1px;
    }
    100% {
        top: 0.5px;
    }
}


#cadre {
    background-image: url(../img/cadre.png);
    background-size: 100% 90vh;
    left: 4vh;
    right: 4vh;
    top: 5vh;
    height: 120vh;
    position: fixed;
    background-repeat: no-repeat;
    transition: all 2s;
}

body {
    overflow-y:hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #0d0551; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #0d0551 0%, #0c0821 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #0d0551 0%,#0c0821 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #0d0551 0%,#0c0821 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0551', endColorstr='#0c0821',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/** SECTION INTRO **/

#intro {
    animation: fondu 5s;
}

#cadre {
    animation: fondu 8s;
}

@keyframes fondu {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* .mini_fumee {
    width: 100%;
    top: 75vh;
    left: 0;
    position: absolute;
    animation: anim 10s infinite linear;
}

@keyframes anim {
    from {
        top: 75vh;
    }
    50% {
        top: 71vh;
    }
    to {
        top: 75vh;
    }
} */

#intro {
    text-align: center;
    position: absolute;
    left: 4vh;
    right: 4vh;
    top: 5vh;
    z-index: 10;
}

.texte {
    position: absolute;
    left: 0;
    top: 27vh;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stitre {
    color:#e9e3c4;
    font-family: "LibreBaskerville";
}

a {
    color:#d1be66;
    text-decoration: none;
    transition: all 1s;
}

a:hover {
    color: white;
}


.button {
    text-transform: uppercase;
    background-image: url("../img/button_commencer.png");
    font-family: "Fabrik", Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1pt;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    padding-top: 30px;
    margin-top: 75px;
    background-size: contain;
    background-repeat: no-repeat;
}

.button:hover {
    background-image: url("../img/button_commencer_blanc.png");
}

.footer {
    display: flex;
    display: flex;
    position: fixed;
    bottom: 8vh;
    width: 93.5%;
}

.credit {
    margin-left: 5vh;
    text-transform: uppercase;
    font-family: "Fabrik", Helvetica, Arial, sans-serif;
    letter-spacing: 1pt;
    font-size: 12px;
}

.sound{
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 45px;
    height: 10px;
    background-image: url("../img/button_sound.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1s;
}

.sound:hover {
    width: 45px;
    height: 10px;
    background-image: url("../img/button_sound_blanc.png");
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1s;
}


/** SECTION PRESENTATION **/

#presentation {
    position: absolute;
    top: 100vh;
    height: 100vh;
    width: 100%;
}

.sarcophage {
    opacity: 0.07;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.sarcophage img {
    width: 36vh;
}

.spresentation {
    text-align: center;
}

#presentation .texte {
    top: 50vh;
    z-index: 10;
}

#presentation .button {
    background-image: url("../img/button_passer.png");
    padding-top: 23px;
    margin-top: 0;
}

#presentation .button:hover {
    background-image: url("../img/button_passer_blanc.png");
}

.bloc {
    width: 700px;
    height: 175px;
    overflow: hidden;
    color:#d1be66;
    text-align: center;
    line-height: 24pt;
    font-family: "LibreBaskerville-Regular", Helvetica, Arial, sans-serif;
}

/** CANVAS **/

#canvas {
    width: 100%!important;
    height: 100vh!important;
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    background: transparent;
}

#sarcophage3D{
    margin-top: 100vh;
}